@use './variables' as vars;
@use './misc';
@use './mixins/vendor-prefixes' as vendor;

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;

  &.wrapper-full-page {
    min-height: 100vh;
    height: auto;
  }
}

.sidebar,
.off-canvas-sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  bottom: 0;
  width: 260px;
  left: 0;
  z-index: 9999;
  box-shadow: vars.$sidebar-box-shadow;

  .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px;

    .dropdown .dropdown-backdrop {
      display: none !important;
    }

    .navbar-form {
      border: none;
    }

    >.nav,
    .user .info {
      [data-toggle="collapse"]~div>ul>li>a {
        span {
          display: inline-block;
          @extend .animation-transition-general;
        }

        .sidebar-normal {
          margin: 0;
          position: relative;
          transform: translateX(0px);
          opacity: 1;
          white-space: nowrap;
          display: block;
          line-height: 23px;
          z-index: 1;
        }

        .sidebar-normal,
        .sidebar-mini-icon {
          -webkit-transition: opacity .3s ease 0s, -webkit-transform .3s ease 0s;
          transition: opacity .3s ease 0s, -webkit-transform .3s ease 0s;
          -o-transition: transform .3s ease 0s, opacity .3s ease 0s;
          transition: transform .3s ease 0s, opacity .3s ease 0s;
          transition: transform .3s ease 0s, opacity .3s ease 0s, -webkit-transform .3s ease 0s;
        }

        .sidebar-mini-icon {
          text-transform: uppercase;
          width: 33px;
          margin-right: 10px;
          margin-left: 0px;
          font-size: 12px;
          text-align: center;
          line-height: 22px;
          position: relative;
          float: left;
          z-index: 1;
          display: inherit;
          color: vars.$red-color;
        }

        span {
          font-size: 17px;
          line-height: 20px;
          width: 26px;
        }
      }
    }
  }

  .navbar-minimize {
    position: absolute;
    right: 20px;
    top: 2px;
    opacity: 1;

    @extend .animation-transition-general;
  }

  .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .nav {
    margin-top: 20px;
    display: block;

    .caret {
      top: 14px;
      position: absolute;
      right: 12px;
    }

    li {
      >a+div .nav li>a {
        margin-top: 7px;
      }

      >a {
        margin: 10px 15px 0;
        border-radius: vars.$btn-round-radius;
        color: vars.$red-color;
        display: block;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        cursor: pointer;
        font-size: vars.$font-size-mini;
        padding: 10px 8px;
        line-height: vars.$line-height-nav-link;
      }

      &:first-child>a {
        margin: 0 15px;
      }

      &:hover:not(.active)>a,
      &:focus:not(.active)>a {
        background-color: vars.$opacity-1;
      }

      &:hover:not(.active)>a i,
      &:focus:not(.active)>a i {
        color: vars.$red-color;
      }

      &.active>a:not([data-toggle="collapse"]) {
        background-color: vars.$red-color;
        box-shadow: vars.$box-shadow;
      }

      &.active>a[data-toggle="collapse"] {
        background-color: vars.$opacity-1;
        box-shadow: none;
        color: vars.$red-color;

        span {
          color: vars.$red-color;
        }

        &+div .nav .active a {
          background-color: transparent;
          box-shadow: none;

          &:after {
            content: "";
            position: absolute;
            background-color: vars.$red-color;
            border-radius: 30px;
            box-shadow: vars.$box-shadow;
            color: vars.$primary-color;
            height: 44px;
            width: calc(100% - 5px);
            top: 0;
            left: 2px;
            z-index: 0;
          }
        }
      }
    }

    p {
      -webkit-transition: opacity .3s ease 0s, -webkit-transform .3s ease 0s;
      transition: opacity .3s ease 0s, -webkit-transform .3s ease 0s;
      -o-transition: transform .3s ease 0s, opacity .3s ease 0s;
      transition: transform .3s ease 0s, opacity .3s ease 0s;
      transition: transform .3s ease 0s, opacity .3s ease 0s, -webkit-transform .3s ease 0s;
    }

    p {
      margin: 0;
      line-height: 30px;
      position: relative;
      display: block;
      height: auto;
      white-space: nowrap;
      @extend .animation-transition-general;
    }

    span {
      font-size: 20px;
      float: left;
      margin-right: 12px;
      line-height: 25px;
      width: 34px;
      text-align: center;
      // color: vars.$opacity-5;
      position: relative;
    }
  }

  .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;

    &:after {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      content: "";
      display: block;
      background: #FFFFFF;
      opacity: 1;
    }
  }

  .logo {
    position: relative;
    padding: vars.$padding-base-vertical vars.$padding-base-horizontal;
    z-index: 4;

    a.logo-mini,
    a.logo-normal {
      @extend .animation-transition-general;
    }

    .logo-image {
      position: relative;
      top: -3px;
    }

    a.logo-mini {
      opacity: 1;
      float: left;
      width: 34px;
      text-align: center;
      margin-left: 11px;
      margin-right: 9px;
    }

    a.logo-normal {
      display: block;
      opacity: 1;
      @include vendor.transform-translate-x(0px);
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 15px;
      height: 1px;
      width: calc(100% - 30px);
      background-color: vars.$red-color;

    }

    p {
      float: left;
      font-size: 20px;
      margin: 10px 10px;
      color: vars.$white-color;
      line-height: 20px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .simple-text {
      text-transform: uppercase;
      padding: vars.$padding-base-vertical 0;
      display: block;
      white-space: nowrap;
      font-size: vars.$font-size-large;
      color: vars.$red-color;
      text-decoration: none;
      font-weight: vars.$font-weight-normal;
      line-height: 30px;
      overflow: hidden;
    }
  }

  .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;

    img {
      width: 60px;
      height: 60px;
    }
  }

  &:before,
  &:after {
    display: block;
    content: "";
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &:after {
    @include vendor.icon-gradient(vars.$default-color);
    z-index: 3;
  }

  &[data-color="blue"] {
    @include vendor.sidebar-color(vars.$info-color);
  }

  &[data-color="green"] {
    @include vendor.sidebar-color(vars.$success-color);
  }

  &[data-color="orange"] {
    @include vendor.sidebar-color(vars.$orange-color);
  }

  &[data-color="red"] {
    @include vendor.sidebar-color(vars.$danger-color);
  }

  &[data-color="yellow"] {
    @include vendor.sidebar-color(vars.$warning-color);
  }

  &[data-color="black"] {
    @include vendor.sidebar-color(vars.$black-sidebar-color);
  }

  &[data-color="grey"] {
    @include vendor.sidebar-color(vars.$grey-color);
  }
}

.visible-on-sidebar-regular {
  display: inline-block !important;
}

.visible-on-sidebar-mini {
  display: none !important;
}

.off-canvas-sidebar {
  .nav {

    >li>a,
    >li>a:hover {
      color: vars.$white-color;
    }

    >li>a:focus {
      background: rgba(200, 200, 200, 0.2);
    }
  }
}

.main-panel {
  position: relative;
  float: right;
  width: vars.$sidebar-width;
  // width: 100%;
  background-color: vars.$light-gray;
  background-color: #ebecf1;

  @include vendor.transition (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));

  >.content {
    padding: 0 30px 30px;
    min-height: calc(100vh - 123px);
    margin-top: -30px;
  }

  >.navbar-admin {
    margin-bottom: 0;
  }

  .header {
    margin-bottom: 50px;
  }
}

.perfect-scrollbar-on {

  .sidebar,
  .main-panel {
    height: 100%;
    max-height: 100%;
  }
}

@media (min-width: 991px) {

  .sidebar,
  .main-panel,
  .sidebar-wrapper {
    -webkit-transition-property: top, bottom, width;
    transition-property: top, bottom, width;
    -webkit-transition-duration: .2s, .2s, .35s;
    transition-duration: .2s, .2s, .35s;
    -webkit-transition-timing-function: linear, linear, ease;
    transition-timing-function: linear, linear, ease;
    -webkit-overflow-scrolling: touch;
  }

  .sidebar-mini {
    .visible-on-sidebar-regular {
      display: none !important;
    }

    .visible-on-sidebar-mini {
      display: inline-block !important;
    }

    .navbar-minimize {
      opacity: 0;
    }

    .sidebar,
    .sidebar .sidebar-wrapper {
      width: 80px;
    }

    .main-panel {
      width: vars.$sidebar-mini-width;
    }

    .sidebar {
      display: block;
      z-index: 1030;
      box-shadow: vars.$sidebar-box-shadow;

      .logo {
        a.logo-normal {
          opacity: 0;
          @include vendor.transform-translate-x(-25px);
        }
      }

      // .nav a i,
      // .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini-icon,
      // .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini-icon{
      //   margin-left: 0;
      //   width: 34px;
      // }

      // .user .photo{
      //   margin-left: 23px;
      // }

      .sidebar-wrapper {

        >.nav [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
        .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
        .user .info>a>span,
        >.nav li>a p {
          @include vendor.transform-translate-x(-25px);
          opacity: 0;
        }
      }
    }

    .sidebar:hover {
      width: 260px;

      .logo {
        a.logo-normal {
          opacity: 1;
          @include vendor.transform-translate-x(0);
        }
      }

      .navbar-minimize {
        opacity: 1;
      }

      .sidebar-wrapper {
        width: 260px;

        >.nav li>a p,
        >.nav [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
        .user .info [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
        .user .info>a>span {
          @include vendor.transform-translate-x(0px);
          opacity: 1;
        }
      }
    }
  }

}

.panel-header {
  // height: 260px;
  padding-top: 80px;
  padding-bottom: 45px;
  // background: #c92c3c;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#c92c3c), color-stop(60%, #dc4754), to(#e56a73));
  // background: linear-gradient(to right, #c92c3c 0%, #dc4754 60%, #e56a73 100%);
  background: linear-gradient(to right, #c92c3c 0%, #d63c49 40%, #dc4754 70%, #e56a73 100%);
  position: relative;
  overflow: hidden;

  .header {
    .title {
      color: vars.$white-color;
      font-weight: bold;

    }

    .category {
      max-width: 600px;
      color: vars.$opacity-5;
      margin: 0 auto;
      font-size: 13px;

      a {
        color: vars.$white-color;
      }
    }
  }
}

.panel-header-sm {
  height: 135px;
}

.panel-header-lg {
  height: 380px
}
